<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{ messages.0 }}
    {% endif %}
    {% endwith %}
    <form action="/accounts/signup" method="post">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/>
        <label for="phone">:شماره تلفن</label><br>
        <input type="text" id="phone" name="phone" placeholder="شماره تلفن خود را وارد کنید" required><br>
        <label for="password">:رمز عبور</label><br>
        <input type="password" id="password" name="password" placeholder="رمز عبور خود را وارد کنید" required><br>
        <label for="confirm">:تایید رمز عبور</label><br>
        <input type="password" id="confirm" name="confirm" placeholder="رمز عبور خود را تایید کنید" required><br><br>
        <input type="submit" value="ثبت نام">
    </form>
    <a href="/accounts/login">ورود</a>
</body>
</html>