<!DOCTYPE html>
<html lang="fa">
<head>
	<title> ایجاد حساب کاربری </title>
	<link rel="stylesheet" type="text/css" href="../../static/accounts/css/style.css">
	<link rel="icon" type="image/x-icon" href="../../static/accounts/img/logo2.png">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="error" class="error">
		<span>این یک پیام خطا است!</span>
		<div class="progress-bar" id="progress-bar"></div>
	</div>
	<div class="container">
		<div class="img">
			<img src="../../static/accounts/img/undraw_travelers_re_y25a.svg">
		</div>
		<div class="login-content">
			<form action="{{url_for('accounts.signup')}}" method="post">
				<img src="../../static/accounts/img/logo2.png">
				<h2 class="title">خوش آمدید</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>شماره تلفن</h5>
           		   		<input type="tel" class="input" name="phone">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>رمز عبور  </h5>
           		    	<input type="password" class="input" name="password">
            	   </div>
            	</div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5> تکرار رمز عبور</h5>
                         <input type="password" class="input" name="confirm">
                 </div>
              </div>
				<div class="sub">
                <a href="{{url_for('accounts.login')}}" class="a2"> قبلا حساب کاربری ایجاد کرده‌اید؟</a>
				</div>
            	
            	<input type="submit" class="btn" value="ورود">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../../static/accounts/js/scripts.js"></script>
</body>
</html>
