<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه اینترنتی تورکت</title>
    <link rel="shortcut icon" href="../static/img/logo/logo2.png">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/icon/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="../static/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <p>به تورکت خوش آمدید</p>
        </div>
        <div class="search">
            <div class="logo">
                <img src="../static/img/logo/logo2.png" alt="تورکت"/>
            </div>
            <div class="search-box">
                <input type="search" placeholder="جستجو" >
            </div>
            <div class="log-in">
                <div class="log">
                    <i class="fas fa-sign-in-alt"></i>
                    <div class="text">
                        <p>ورود</p>
                    </div>
                    <p>ثبت نام</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="master-menu">
              <nav>
                <ul>
                  <li><a href="#">خانه</a></li>  
                  <li><a href="#">تور داخلی</a></li>
                  <li><a href="#">تور خارجی</a></li>
                  <li><a href="#">تور یک روزه</a></li>
                  <li><a href="#">بلاگ ها</a></li>
                  <li><a href="#">سوالات پرتکرار</a></li>
                  <li><a href="#">تماس با ما</a></li>
                  <li><a href="#">درباره ما</a></li>
                </ul>
              </nav>
            </div>
        </div>
        <div class="slider">
            <div class="swiper nill-edl">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="../static/img/slider/Deylaman-15.jpg" alt="">
                    <div class="text">
                      <h1>یسبلیبل 
                        <br>سظبیسظل</h1>
                        <p class="text">شتالتابرلتابظرزالتظبسییالظّؤُِاۀَُِّالشبیاَِّاُِّأّؤأءردژؤدإۀةؤ</p>
                    <button>همین حالا رزرو کن</button>    
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="../static/img/slider/Badab-Sort-Iran-attraction.jpg" alt="">
                    <div class="text">
                        <h1>یسبلیبل 
                          <br>سظبیسظل</h1>
                          <p class="text">شتالتابرلتابظرزالتظبسییالظّؤُِاۀَُِّالشبیاَِّاُِّأّؤأءردژؤدإۀةؤ</p>
                      <button>همین حالا رزرو کن</button>    
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="../static/img/slider/160210133440-eram-garden-shiraz-7.jpg" alt="">
                    <div class="text">
                        <h1>یسبلیبل 
                          <br>سظبیسظل</h1>
                          <p class="text">شتالتابرلتابظرزالتظبسییالظّؤُِاۀَُِّالشبیاَِّاُِّأّؤأءردژؤدإۀةؤ</p>
                      <button>همین حالا رزرو کن</button>    
                      </div></div>
                  <div class="swiper-slide"><img src="../static/img/slider/isfahan.webp" alt="">
                    <div class="text">
                        <h1>یسبلیبل 
                          <br>سظبیسظل</h1>
                          <p class="text">شتالتابرلتابظرزالتظبسییالظّؤُِاۀَُِّالشبیاَِّاُِّأّؤأءردژؤدإۀةؤ</p>
                      <button>همین حالا رزرو کن</button>    
                      </div></div>
                  <div class="swiper-slide">
                    <img src="../static/img/slider/Masal-village-1024x573.webp" alt="">
                    <div class="text">
                        <h1>یسبلیبل 
                          <br>سظبیسظل</h1>
                          <p class="text">شتالتابرلتابظرزالتظبسییالظّؤُِاۀَُِّالشبیاَِّاُِّأّؤأءردژؤدإۀةؤ</p>
                      <button>همین حالا رزرو کن</button>    
                      </div></div>
                  <div class="swiper-slide">
                    <img src="../static/img/slider/ToIranTour-Stars-Valley-Qeshm-Island-1-1-scaled.jpg" alt="">
                    <div class="text">
                        <h1>یسبلیبل 
                          <br>سظبیسظل</h1>
                          <p class="text">شتالتابرلتابظرزالتظبسییالظّؤُِاۀَُِّالشبیاَِّاُِّأّؤأءردژؤدإۀةؤ</p>
                      <button>همین حالا رزرو کن</button>    
                      </div></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        
        </div>
        <div class="category">
            <h1>تورهای داخلی</h1>
            <div class="part">
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                

            </div>
            <h1>تورهای خارجی</h1>
            <div class="part">
                
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>

            </div>
            <h1>تورهای یک روزه</h1>
            <div class="part">
                
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>
                <div class="cart">
                    <img src="" alt="">
                    <h2>سایب</h2>
                    <p class="price">13145</p>
                    <p>الیبلافبیسلبقیلبقیبقثلابتننننننننی</p>
                    <button>buyyyyyy</button>
                </div>

            </div>
        </div>      
        
    </div>
    <script src="../static/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".nill-edl", {
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>   
</body>    