{% extends 'base.html' %}

{% block title %}
سبد خرید
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/shopping.css">
{% endblock %}

{% block head %}
سبد خرید
{% endblock %}

{% block content %}
        <div class="container"> 
            <ul class="cart-items"> 
                <li class="cart-item">
                    <img class="img-shop" src="../static/img/slider/Deylaman-15.jpg" alt=""> 
                    <div class="info-tour"> <h4>نام تور</h4> <p>مبلغ:100000</p> 
                    </div> 
                    <div class="info-tourr"> 
                        <input class="num" type="number" value="1" min="1"> 
                        <button class="btn">حذف</button> 
                    </div> 
                </li> 
                <!-- More cart items here --> 
                </ul> <div class="total"> 
                    <h3>مجموع: 100000</h3> 
                    <button class="btn check">پرداخت</button> 
                </div> 
            </div>
            <script src="../static/js/main.js"></script>
{% endblock %}